body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* header styles */
.section-one{
  width: 100%;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.container-for-mid-width{
  width: 1200px;
  margin: auto;
  /* border: 2px solid red; */
}
.flex-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
  

.header-intros{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red;*/
} 
.image-container{
    width:40%;
    display: flex;
    flex-direction:column;
    align-items: end;
    /* border: 1px solid red; */
    
}
.header-images{
    width: 400px;
    /* border: 1px solid red; */
}
/* Button Style  */

.btn{
  
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform:uppercase;
  }

.btn:hover {opacity: 1}  
/* button style end  */








  /* dream big style start here  */
.dreambig-image{
  width: 100%;
}
.dreambig-text-container{
  width: 60%;
}

.section-two{
  background-image: url(images/nothing.jpg);
  z-index: -2;
  color: white;
}


  

    

  
 