body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* header styles */
.section-one{
  width: 100%;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.container-for-mid-width{
  width: 1200px;
  margin: auto;
  /* border: 2px solid red; */
}
.flex-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
  

.header-intros{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red;*/
} 
.image-container{
    width:40%;
    display: flex;
    flex-direction:column;
    align-items: end;
    /* border: 1px solid red; */
    
}
.header-images{
    width: 400px;
    /* border: 1px solid red; */
}
/* Button Style  */

.btn{
  
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform:uppercase;
  }

.btn:hover {opacity: 1}  
/* button style end  */








  /* dream big style start here  */
.dreambig-image{
  width: 100%;
}
.dreambig-text-container{
  width: 60%;
}

.section-two{
  background-image: url(images/nothing.jpg);
  z-index: -2;
  color: white;
}


  
/* experience secion stles */

.card-container{
 
}
    .card{
      position: relative;
      width: 500px;
      padding: 2rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-top-left-radius:10px;
      border-bottom-left-radius:10px;
      
      
    }
    .card::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 10px;
      background: linear-gradient(to bottom, #ff0000, #f7de21);
      border-top-left-radius:10px;
      border-bottom-left-radius:10px;
      

    }
    .card h1{
      text-transform:uppercase;
    }
    .card h3{
      text-transform:capitalize;
      color: #f4511e;
    }

  .experience-section{
    
    margin: 20px 0px;
  }
 